<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body style="padding: 10px;" ng-app="myApp" ng-controller="myCtrl">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <label>WORKED FROM</label>
            <br />
            <input id="startDateDOM" ng-model="startDate" type="date">

            <br /><br />

            <label>WORKED TILL</label>
            <br />
            <input id="endDateDOM" ng-model="endDate" type="date">

            <br /><br />

            <label>IS EBH IN YOUR WORK PERIOD?</label>
            <br />
            <input type="radio" ng-model="ebhValueCheck" name="ebh" value="yes">Yes<br>
            <input type="radio" ng-model="ebhValueCheck" name="ebh" value="no">No<br>

            <br /><br />

            <div ng-show="ebhValueCheck=='yes'" style="background-color: blanchedalmond;padding: 2rem;">
                <label>EBH DATE</label>
                <br />
                <div ng-repeat="data in ebhArrayCounter">
                    <input required ng-attr-id="{{'id_'+$index}}" ng-model="ebhArrayData[data]" type="date">
                    <button ng-hide="$index==totalEBH" ng-click="removeEBH($index)">REMOVE THIS EBH</button>
                    <button ng-show="$index==totalEBH" ng-click="addEBH()">ADD ANOTHER EBH</button>
                </div>
            </div>

            <br /><br />
            <button ng-click="generate()"
                style="color:white;background-color: blue;border:none;padding: 1rem;cursor:pointer;">GENERATE WORKING
                DATES</button>
            <button ng-show="resultOut" ng-click="generateBill()"
                style="color:white;background-color: blue;border:none;padding: 1rem;cursor:pointer;">FETCH BILLING
                AMOUNT</button>
            <button ng-click="reset()"
                style="color:white;background-color: blue;border:none;padding: 1rem;cursor:pointer;">RESET</button>

            <br /><br />

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div ng-repeat="item in finalDates track by $index">
                        <label>{{item}}</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div ng-repeat="item in finalAmounts track by $index">
                        <label>{{item}}</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div style="padding:10px;border:1px solid coral;background-color: blanchedalmond;">
                <b>INFORMATION</b>
                <br /><br />
                <p>
                    Enter your start date and end date. That after if any EBH date is there,
                    then click YES in the radio button and then enter the dates one by one
                    by clicking ADD ANOTHER EBH button. You may also remove one EBH by the
                    REMOVE THIS EBH button
                </p>
                <br />
                <p>
                    Then click on GENERATE WORKING DATES button to fetch all the working dates
                    other than EBH dates. Simply copy the dates and
                    goto your expense XLS and paste it on top from wherever you want to fill
                    the dates in that sheet
                </p>
                <br />
                <p>
                    Also you will see FETCH BILLING AMOUNT button after you have clicked GENERATE WORKING DATES.
                    Clicking on it will give you
                    per day expense amount's list. Every day the amount is tallied to Rs. 700 according to OFSS
                    standard. Everyday there are 3 expenses, one is cab around Rs. 200, next is lunch around Rs. 250,
                    next is dinner around Rs. 250 approximately. Now this amounts 200, 250, 250 of everyday
                    is randomly made. Just copy the values and like dates, paste on your expense XLS
                    amount column. Remember, if your total working days are N, there will be 3N number of items in
                    amount list. In your expense XLS, prefill the 'Expense Type' & 'Description' column
                    manually. You just need to fill 3 rows, then in XLS just drag to fill rest of the
                    rows. And then copy paste the dates in date column dfor all the rows, similarly for amount column
                    also
                </p>
                <br />
                <p><b>NOTE:</b></p>
                <p>
                    <i>Jyda testing karne ki koi jarurat nehi. Sidha sidha start date and end date dalo and baat khatam
                        karo</i>
                </p>
            </div>
        </div>


    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.startDate;
            $scope.endDate;
            $scope.start;
            $scope.end;
            $scope.ebhValueCheck = "no";
            $scope.ebhArrayCounter = [0];
            $scope.ebhArrayData = [];
            $scope.ebhArrayDataDOM = [];
            $scope.totalEBH = 0;
            $scope.daylist;
            $scope.finalDates = [];
            $scope.finalAmounts = [];
            $scope.resultOut = false;

            $scope.setEBH = function () {
                for (let i = 0; i < $scope.ebhArrayData.length; i++) {
                    let cdate = new Date($("#id_" + i).val());
                    $scope.ebhArrayDataDOM.push((cdate.getMonth() + 1) + "/" + cdate.getDate() + "/" + cdate.getFullYear());
                }
            };

            $scope.populateFinalDates = function () {
                for (let i = 0; i < $scope.daylist.length; i++) {
                    let flag = false;
                    for (let j = 0; j < $scope.ebhArrayDataDOM.length; j++) {
                        if ($scope.daylist[i] == $scope.ebhArrayDataDOM[j]) {
                            flag = true;
                            break;
                        }
                    }
                    if (!flag) {
                        $scope.finalDates.push($scope.daylist[i]);
                        $scope.finalDates.push($scope.daylist[i]);
                        $scope.finalDates.push($scope.daylist[i]);
                    }
                }
            };

            $scope.reset = function () {
                location.reload();
            };
            $scope.randomAmount = function (min, max) {
                return Math.floor(Math.random() * (max - min)) + min;
            };

            $scope.generateBill = function () {
                $scope.finalAmounts = [];
                for (let i = 0; i < $scope.daylist.length - $scope.ebhArrayDataDOM.length; i++) {
                    let cab = $scope.randomAmount(200, 210);
                    let lunch = $scope.randomAmount(240, 250);
                    let dinner = 700 - cab - lunch;
                    $scope.finalAmounts.push(cab.toFixed(2));
                    $scope.finalAmounts.push(lunch.toFixed(2));
                    $scope.finalAmounts.push(dinner.toFixed(2));
                }
            };

            $scope.generate = function () {
                $scope.finalDates = [];
                $scope.setEBH();
                let startTemp = $("#startDateDOM").val();
                let endTemp = $("#endDateDOM").val();
                $scope.start = new Date(startTemp);
                $scope.end = new Date(endTemp);
                $scope.daylist = $scope.getDaysArray($scope.start, $scope.end);
                $scope.populateFinalDates();
                $scope.resultOut = true;

            };

            $scope.rePopulate = function (ebhIndex) {
                if (ebhIndex == $scope.ebhArrayData.length - 1) {
                    $scope.ebhArrayData.pop();
                }
                else {
                    if (ebhIndex == 0) {
                        $scope.ebhArrayData.splice(0, 1);
                    }
                    else {
                        let x = $scope.ebhArrayData.splice(0, ebhIndex);
                        let y = $scope.ebhArrayData.splice(1);;
                        let temp = x.concat(y);
                        $scope.ebhArrayData = [];
                        $scope.ebhArrayData = temp;
                    }
                }
            };

            $scope.addEBH = function () {
                $scope.totalEBH = $scope.totalEBH + 1;
                $scope.ebhArrayCounter.push($scope.totalEBH);
            };

            $scope.removeEBH = function (ebhIndex) {
                $scope.rePopulate(ebhIndex);
                $scope.totalEBH = $scope.totalEBH - 1;
                $scope.ebhArrayCounter.pop();
            };

            $scope.getDaysArray = function (start, end) {
                for (var arr = [], dt = start; dt <= end; dt.setDate(dt.getDate() + 1)) {
                    let cdate = new Date(dt);
                    arr.push((cdate.getMonth() + 1) + "/" + cdate.getDate() + "/" + cdate.getFullYear());
                }
                return arr;
            };
        });
    </script>
</body>

</html>